* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 500px;

    background-color: white;

    padding: 30px;

    border-radius: 12px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);

    text-align: center;
}

h1 {
    margin-bottom: 15px;
}

p {
    margin-bottom: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    text-align: left;
    font-weight: bold;
}

input {
    padding: 12px;

    border: 1px solid #ccc;
    border-radius: 6px;

    font-size: 16px;
}

button {
    padding: 12px;

    border: none;
    border-radius: 6px;

    background-color: #333;
    color: white;

    font-size: 16px;

    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#mensaje {
    margin-top: 20px;
    font-weight: bold;
}

.resultado {
    margin-top: 15px;

    font-size: 24px;
    font-weight: bold;
}